mandatory/*/*.o
mandatory/*.o
mandatory/main.o
mandatory/*/*.swp
mandatory/*.swp
mandatory/*/*.swo
mandatory/*.swo
minishell/*.txt
minishell/*.swp
minishell/*.swo
minishell
libft/libft.a
libft/objs
.nfs*
